name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    name: Ruby ${{ matrix.ruby }}

    runs-on: ubuntu-latest

    permissions:
      contents: read

    continue-on-error: ${{ matrix.ruby == 'head' }}

    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.0", "3.1", "3.2", "3.3", "3.4", "head"]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up Ruby
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run the default task
        run: bin/rake
